.insta{
    padding: 0;
    position: relative;
    background-color: #000;
}
.insta .insta-img{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,420px);
    grid-gap: 0px;
}
.insta-img figure{
    filter: brightness(0.2);
}


.insta .insta-text{
    height: 840px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color:#fff;
    font-family: "ProximaNovaNormal";
    letter-spacing: 40px;
    font-weight: lighter;
}
.insta .insta-text h4{
    color:#f84545;
    font-size: 30px;
    font-family: "ProximaNovaBold";
    margin-top: 30px;
}

.insta .insta-img figure{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #000;
}
.insta .insta-img figure:nth-child(1){
    background-image: url(../../img/insta/Layer-8.png);
}
.insta .insta-img figure:nth-child(2){
    background-image: url(../../img/insta/Layer-9.png);
}
.insta .insta-img figure:nth-child(3){
    background-image: url(../../img/insta/Layer-10.png);
}
.insta .insta-img figure:nth-child(4){
    background-image: url(../../img/insta/Layer-11.png);
}
.insta .insta-img figure:nth-child(5){
    background-image: url(../../img/insta/Layer-12.png);
}
.insta .insta-img figure:nth-child(6){
    background-image: url(../../img/insta/Layer-13.png);
}
.insta .insta-img figure:nth-child(7){
    background-image: url(../../img/insta/Layer-14.png);
}
.insta .insta-img figure:nth-child(8){
    background-image: url(../../img/insta/Layer-15.png);
}